body {
  box-sizing: border-box;
  font-family: "Myriad Pro", "sans-serif";
  color: #302a31; }

h3 {
  color: #fff; }

a {
  transition: color ease-in-out .2s; }

.section__header {
  margin-top: 95px;
  margin-bottom: 75px;
  text-align: center; }
  .section__header--underline {
    padding-bottom: 15px;
    border-bottom: 2px solid #c1a067; }
  .section__header__text {
    font-family: "Myriad Pro", "sans-serif";
    font-size: 36px;
    font-weight: 700;
    color: #302a31;
    text-transform: uppercase; }

.vert-align-center {
  display: flex;
  align-items: center; }

.vert-align-end {
  display: flex;
  align-items: flex-end; }

.flex-horizontal-end {
  display: flex;
  justify-content: flex-end; }

.flex-horizontal-center {
  display: flex;
  justify-content: center; }

.link {
  color: #302a31;
  font-family: "Myriad Pro", "sans-serif";
  font-size: 13px; }
  .link:hover {
    color: #c1a067;
    text-decoration: none; }

.pos-rel {
  position: relative; }

.nav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eceaed; }
  .nav__lists {
    list-style-type: none;
    margin: 0; }
    .nav__lists__link {
      display: inline-block;
      margin-right: 50px; }

.nav_top_right_link {
  padding-left: 20px;
  border-left: 1px solid #eceaed;
  font-size: 13px;
  font-family: "Myriad Pro", "sans-serif";
  color: #302a31; }

.nav_top_right_link:first-child {
  padding-right: 20px; }

.favourite_count {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background: #c1a067;
  color: #fff;
  position: absolute;
  right: 10%; }

.header__logo {
  margin-top: 10px; }

.header__info {
  width: 90%; }
  .header__info__search {
    padding-bottom: 10px;
    border-bottom: 1px solid #c1a067;
    position: relative; }
    .header__info__search .search__input {
      width: 100%;
      border: none;
      color: #302a31;
      font-size: 14px;
      font-family: "Myriad Pro", "sans-serif";
      outline: none; }
      .header__info__search .search__input::placeholder {
        text-transform: uppercase;
        color: #302a31; }
    .header__info__search .search_link {
      position: absolute;
      top: 0;
      right: 5px; }
    .header__info__search .search_icon {
      width: 20px;
      color: #c1a067; }
  .header__info__contacts {
    display: flex;
    justify-content: space-between;
    padding: 15px 0; }

.header .shopping__cart {
  background-color: #c1a067;
  width: 100%;
  height: 69px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .shopping__cart .shopping_bag {
    width: 33px; }
  .header .shopping__cart .product_count {
    font-size: 13px;
    color: white;
    position: absolute;
    top: 5px;
    right: 10px; }

.header__menu {
  width: 100%;
  background-color: #302a31;
  margin-top: 18px; }

.cart_align_end {
  display: flex;
  align-items: flex-end;
  height: 95px; }

.header_info_link {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase; }

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .menu__list .menu__item {
    display: inline-block;
    padding: 23px 18px; }
    .menu__list .menu__item .menu_link {
      font-family: "Myriad Pro", "sans-serif" !important;
      font-size: 16px !important;
      color: #fff !important; }
      .menu__list .menu__item .menu_link:hover {
        color: #c1a067 !important;
        text-decoration: none; }
  .menu__list > .sale {
    background-color: #c16774; }
    .menu__list > .sale > .menu_link {
      color: #fff; }
      .menu__list > .sale > .menu_link:hover {
        color: #fff; }

/********** Hero Slider *****************/
.hero {
  margin-top: 60px; }
  .hero__slider {
    height: 404px;
    position: relative; }
    .hero__slider .slick-dots {
      list-style-type: none;
      position: absolute;
      bottom: 0px;
      left: 20%;
      display: flex; }
      .hero__slider .slick-dots li {
        margin-right: 30px; }
        .hero__slider .slick-dots li:last-child {
          margin-right: 0; }
        .hero__slider .slick-dots li button {
          text-indent: -9999px;
          background: none;
          border: 2px solid #c1a067;
          width: 5px;
          height: 15px;
          cursor: pointer;
          outline: none; }
      .hero__slider .slick-dots .slick-active > button {
        background: #c1a067; }
  .hero__slider__item {
    background-repeat: no-repeat !important;
    background-position-x: 212px !important;
    background-size: 1220px !important;
    height: 100%; }
    .hero__slider__item__content {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative; }
      .hero__slider__item__content h1 {
        text-transform: uppercase;
        width: 585px;
        font-family: "Myriad Pro", "sans-serif";
        font-weight: 700;
        letter-spacing: 5px;
        font-size: 46px;
        color: #302a31; }
    .hero__slider__item__link {
      position: absolute;
      bottom: 70px;
      width: 255px;
      padding-bottom: 10px;
      border-bottom: 1px solid #c1a067;
      color: #c1a067; }
      .hero__slider__item__link:hover {
        text-decoration: none;
        color: #c1a067; }

.item__content__product {
  display: flex; }

.item__content__price {
  align-self: flex-end;
  margin-bottom: 25px;
  margin-left: 25px;
  font-family: "Myriad Pro", "sans-serif";
  font-size: 13px; }

.slick-list, .slick-track {
  height: 100%; }

.advantages {
  margin-top: 67px; }
  .advantages hr {
    margin-top: 8px; }
  .advantages .advantage {
    font-family: "Myriad Pro", "sans-serif";
    color: #302a31;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase; }

/************ Product slider styles ***************/
.mainpage__product__slider .slick-arrow,
.brands__slider .slick-arrow {
  position: absolute;
  z-index: 777;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 32px;
  text-indent: -9999px;
  border: none;
  outline: none;
  cursor: pointer; }

.mainpage__product__slider .slick-prev,
.brands__slider .slick-prev {
  left: 0;
  background: url("../img/arrow-prev.png");
  background-repeat: no-repeat; }

.mainpage__product__slider .slick-next,
.brands__slider .slick-next {
  right: 0;
  background: url("../img/arrow-next.png");
  background-repeat: no-repeat; }

.product--sale {
  position: absolute;
  left: 10px;
  top: 0;
  padding: 5px 15px;
  background: #c16774;
  display: none;
  color: #fff;
  font-family: "Myriad Pro", "sans-serif";
  font-size: 12px;
  text-transform: uppercase; }
  .product--sale--true {
    display: block; }

.mainpage__product__item {
  border-right: 1px solid #eceaed;
  outline: none; }

.mainpage__product__item__content {
  position: relative;
  text-align: center;
  display: grid;
  justify-content: center; }
  .mainpage__product__item__content:first-child .product__company,
  .mainpage__product__item__content:first-child .product__type,
  .mainpage__product__item__content:first-child .product__male {
    margin: 0; }
  .mainpage__product__item__content .product__img {
    width: 200px; }
  .mainpage__product__item__content a {
    font-family: "Myriad Pro", "sans-serif";
    color: #302a31; }
    .mainpage__product__item__content a:hover {
      color: #c1a067;
      text-decoration: none; }
  .mainpage__product__item__content .product__price {
    margin-top: 30px; }

.product__name {
  font-family: "Myriad Pro", "sans-serif";
  color: #302a31;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 55px;
  margin-bottom: 25px; }

.product__price {
  display: flex;
  justify-content: space-around; }
  .product__price--older {
    text-decoration: line-through;
    color: #c16774;
    display: none; }

.has-older-price {
  display: block; }

/*********** Partners **************/
.all_brands {
  text-transform: uppercase;
  color: #c1a067;
  font-family: "Myriad Pro", "sans-serif";
  font-weight: bold;
  font-size: 14px;
  margin-top: 32px; }

.parfume_partner {
  width: 200px; }

.brands__slider {
  padding-bottom: 47px; }

.brands__lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px; }

.brand__item a {
  letter-spacing: 2px; }

/************** Topics and news ****************/
.see_all_topicsandnews {
  margin-top: 30px;
  text-align: center; }
  .see_all_topicsandnews a {
    text-transform: uppercase;
    font-family: "Myriad Pro", "sans-serif";
    color: #c1a067;
    font-weight: bold;
    letter-spacing: 2px; }

.topics--some {
  max-width: 550px; }

.topic__item {
  padding: 35px 0 30px;
  border-bottom: 1px solid #eceaed; }

.topic__title {
  font-size: 16px;
  font-family: "Myriad Pro", "sans-serif";
  color: #302a31;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px; }

.topic__date a {
  font-size: 13px;
  color: #c1a067; }

.topic__descr {
  margin-top: 18px;
  overflow: hidden;
  width: 465px;
  height: 60px; }
  .topic__descr p {
    font-size: 14px;
    font-family: "Myriad Pro", "sans-serif";
    color: #302a31; }

.new__item {
  max-height: 185px;
  height: 185px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position-x: left;
  margin-bottom: 18px;
  position: relative; }

.new__content {
  position: absolute;
  left: 200px; }
  .new__content .topic__title {
    margin-top: 10px; }

.text-left {
  background-position-x: right !important; }
  .text-left > .new__content {
    left: 0;
    width: 335px; }

/********************** Footer **********************/
.footer {
  margin-top: 95px;
  padding: 70px 0 55px;
  background: #302a31;
  color: #fff; }
  .footer__container {
    padding-bottom: 67px;
    border-bottom: 1px solid #3f3a41; }
  .footer__link_title {
    font-size: 18px;
    font-family: "Myriad Pro", "sans-serif";
    font-weight: bold;
    margin-bottom: 35px; }
  .footer__links {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .footer__link {
    font-size: 14px;
    font-family: "Myriad Pro", "sans-serif";
    font-weight: normal;
    margin-bottom: 13px; }
    .footer__link:last-child {
      margin-bottom: 0; }
    .footer__link > a {
      color: #fff; }
      .footer__link > a:hover {
        color: #c1a067;
        text-decoration: none; }
      .footer__link > a > img {
        width: 26px; }
    .footer__link .social__call {
      margin-left: 10px; }
      .footer__link .social__call:first-child {
        margin-left: 15px; }
  .footer_form {
    width: 100%;
    text-align: right; }
    .footer_form > input {
      width: 100%;
      background: none;
      font-family: "Myriad Pro", "sans-serif";
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      border: none;
      outline: none;
      padding-bottom: 10px;
      border-bottom: 2px solid #c1a067; }
      .footer_form > input::placeholder {
        text-transform: uppercase;
        color: #fff; }
    .footer_form .subscribe {
      color: #c1a067;
      font-family: "Myriad Pro", "sans-serif";
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: block;
      margin-top: 10px; }
      .footer_form .subscribe:hover {
        text-decoration: none;
        color: #fff; }

.insta_subscribe {
  margin-top: 55px;
  display: flex;
  align-items: center; }
  .insta_subscribe .fainst {
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative; }
    .insta_subscribe .fainst img {
      width: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .insta_subscribe .subscribe_link {
    color: #fff;
    text-transform: uppercase;
    font-family: "Myriad Pro", "sans-serif";
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    margin-left: 20px; }
    .insta_subscribe .subscribe_link:hover {
      text-decoration: none;
      color: #c1a067; }

.terms__conditions {
  display: flex;
  justify-content: space-between;
  margin-top: 45px; }
  .terms__conditions .who__develop img {
    margin-right: 18px; }
