*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility
}

.container {
  max-width: 100%;
  margin: 12% auto 0 auto;
  padding: 0;
}
/* Multi Tab Sidebar */

.multitab-section {
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
}

#multicolumn-widget-id1 {
  max-width: 100%;
  height: 526px;
  background: linear-gradient(to bottom right, #00727c, #0aa398);
  margin-top: 115px;
}
#multicolumn-widget-id2 {
  max-width: 100%;
  height: 526px;
  background: linear-gradient(to bottom right, #00727c, #0aa398);
  margin-top: 115px;
}
#multicolumn-widget-id3 {
  max-width: 100%;
  height: 526px;
  background: linear-gradient(to bottom right, #00727c, #0aa398);
  margin-top: 115px;
}
#multicolumn-widget-id4 {
  max-width: 100%;
  height: 526px;
  background: linear-gradient(to bottom right, #00727c, #0aa398);
  margin-top: 115px;
}
#multicolumn-widget-id5 {
  max-width: 100%;
  height: 526px;
  background: linear-gradient(to bottom right, #00727c, #0aa398);
  margin-top: 115px;
}
#multicolumn-widget-id6 {
  max-width: 100%;
  height: 526px;
  background: linear-gradient(to bottom right, #00727c, #0aa398);
  margin-top: 115px;
}




.multitab-widget {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.multitab-widget li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 224px;
}

.multitab-widget li > a {
  width: 230px;
  background: #22a1c4;
  color: #fff;
  display: block;
  padding: 15px;
  font-size: 13px;
  text-decoration: none
  
}
.multitab-tab {
  width: 214px;
  text-align: center
}
.multitab-tab > a:hover {
  background: #00727c;
}

.multitab-tab:nth-child(3) {
  margin-top: 0px;
}
.multitab-tab:nth-child(3) img {
  padding-top: 3px;
}
.multitab-tab:nth-child(4) {
  margin-top: 0px;
}
.multitab-tab:nth-child(4) img {
  padding-top: 11px;
}
.multitab-tab:nth-child(5) {
  margin-top: 0px;
}
.multitab-tab:nth-child(5) img {
  padding-top: 8px;
}
.multitab-tab:nth-child(6) {
  margin-top: 0px;
}
.multitab-tab:nth-child(6) img {
  padding-top: 13px;
}
.multitab-widget li a.multitab-widget-current {
  height: 116px;
  padding-bottom: 20px;
  margin-top: 0px;
  background: linear-gradient(#00727c, #00727c);
  color: #444;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize

}