$accent: #c1a067;
$fc: #302a31;
$ff: 'Myriad Pro', 'sans-serif';

body {
  box-sizing: border-box;
  font-family: $ff;
  color: $fc;
}
.vert-align-center {
  display: flex;
  align-items: center
}
.vert-align-end {
  display: flex;
  align-items: flex-end;
}
.flex-horizontal-end {
  display: flex;
  justify-content: flex-end;
}

.link {
  color: $fc;
  font-family: $ff;
  font-size: 13px;
  &:hover {
    color: $accent;
    text-decoration: none;
  }
}

.nav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eceaed;
  &__lists {
    list-style-type: none;
    margin: 0;
    &__link {
      display: inline-block;
      margin-right: 50px;
    }
  }
}
.nav_top_right_link {
  padding-left: 20px;
  border-left: 1px solid #eceaed;
  font-size: 13px;
  font-family: $ff;
  color: $fc;
}
.nav_top_right_link:first-child {
  padding-right: 20px;
}



.header {
  &__logo {
    margin-top: 10px;
  }
  &__info {
    width: 90%;
    &__search{
      padding-bottom: 10px;
      border-bottom: 1px solid $accent;
      position: relative;
      & .search__input {
        width: 100%;
        border: none;
        color: $fc;
        font-size: 14px;
        font-family: $ff;
        outline: none;
        &::placeholder {
          text-transform: uppercase;
          color: $fc;
        }
      }
      & .search_link {
        position: absolute;
        top: 0;
        right: 5px;
      }
      & .search_icon {
        width: 20px;
        color: $accent;
      }
    }
    &__contacts {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
    }
  }
  & .shopping__cart {
    background-color: $accent;
    width: 100%;
    height: 69px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    & .shopping_bag {
      width: 33px;
    }
    & .product_count {
      font-size: 13px;
      color: white;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
  &__menu {
    width: 100%;
    background-color: $fc;
    margin-top: 18px;
  }
}
.cart_align_end {
  display: flex;
  align-items: flex-end;
  height: 95px;
}
.header_info_link {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & .menu__item {
    display: inline-block;
    padding: 23px 18px;
    & .menu_link {
      font-family: $ff !important;
      font-size: 16px !important;
      color: #fff !important;
      &:hover {
        color: $accent !important;
        text-decoration: none;
      }
    }
  }
  & > .sale {
    background-color: #c16774;
    & > .menu_link {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}


/********** Hero Slider *****************/
.hero {
  margin-top: 60px;
  &__slider {
    height: 404px;
    position: relative;
  }
  &__slider__item {
    background-repeat: no-repeat !important;
    background-position-x: 212px !important;
    background-size: 1220px !important;
    height: 100%;
    &__content {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      & h1 {
        text-transform: uppercase;
        width: 585px;
        font-family: $ff;
        font-weight: 700;
        letter-spacing: 5px;
        font-size: 46px;
        color: $fc;
      }
    }
    &__link {
      position: absolute;
      bottom: 70px;
      width: 255px;
      padding-bottom: 10px;
      border-bottom: 1px solid $accent;
      color: $accent;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
}

.item__content__product {
  display: flex;
}
.item__content__price {
  align-self: flex-end;
  margin-bottom: 25px;
  margin-left: 25px;
  font-family: $ff;
  font-size: 13px;
}
.slick-list, .slick-track {
  height: 100%;
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  list-style-type: none;
  position: absolute;
  bottom: 0px;
  left: 20%;
  display: flex;
  & li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    button {
      text-indent: -9999px;
      background: none;
      border: 2px solid $accent;
      width: 5px;
      height: 15px;
      cursor: pointer;
      outline: none;
    }
  }
  & .slick-active > button{
    background: $accent;
  }
}
