/*************** Main styles ******************/
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1120px;
  margin: 0 auto;
}
h2, h3 {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  color: #32325d;
}
h1 {
  font-size: 48px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 30px;
}
p.section_descr {
  font-size: 23px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #525f7f;
}
p.element_descr {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #525f7f;
}

a.btn {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  background-color: #845cff;
  transition: all 0.3s ease-in;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
a.btn:hover {
  background-color: #9f80fd;
}
a.links {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #32325d;
  text-decoration: none;
}
a.links:hover {
  text-decoration: underline;
}

/*********** End main styles **************/




/***************** Header section ********************/

.header {
  width: 100%;
  height: 995px;
  background: url("../img/hero.svg") no-repeat;
  background-position: right top;
  background-size: initial;
}
.nav {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  position: relative;
  top: 40px;
}
.menu {
  list-style-type: none;
  justify-self: right;
}
.menu__item {
  display: inline;
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_link {
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: #645293;
  text-decoration: none;
}
.menu__item_link:hover {
  text-decoration: underline;
}
.header__text {
  margin-top: 12%;
  width: 500px;
  height: 500px;
}
.header__text h1 {
  margin-bottom: 50px;
}
.header__text .section_descr {
  margin-bottom: 38px;
}
.header__text_links .btn {
  margin-right: 36px;
}
/************************************************/

/*************************************************
*  About us section
**************************************************/
.about_us {
  width: 100%;
  height: 1060px;
}
.about_us-gridable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
}