* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif";
  color: #fff; }

h1 {
  font-family: "Open Sans", "sans-serif";
  font-size: 50px;
  font-weight: 300;
  position: absolute;
  color: #fff; }

.vertical_slider {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.vertical_slider--wrapper {
  width: 100%;
  height: 100%;
  transition: all ease-in-out 1.5s; }

.vertical_slider__item {
  width: 100%;
  height: 100%;
  position: relative; }

.background__image {
  width: 100%;
  height: 100%; }

.vertical_slider__head_text {
  color: #0d319c;
  top: 150px;
  left: 78px; }

.point_one, .point_two, .point_three, .point_four {
  position: absolute;
  color: #0d319c;
  width: 20px;
  height: 20px;
  background-color: orange;
  text-indent: 40px;
  box-shadow: 0 0 0 rgba(247, 139, 41, 0.4);
  border-radius: 50%;
  animation: pulse 2s infinite; }
  .point_one p, .point_two p, .point_three p, .point_four p {
    width: 255px; }

.point_one {
  top: 281px;
  right: 430px; }

.point_two {
  top: 430px;
  left: 280px;
  text-indent: 0; }
  .point_two p {
    margin-top: -25px;
    margin-left: -25px; }

.point_three {
  top: 535px;
  left: 478px;
  text-indent: 0; }
  .point_three p {
    margin-top: -30px;
    margin-left: -45px; }

.point_four {
  top: 517px;
  right: 185px;
  text-indent: 0; }
  .point_four p {
    margin-top: -25px;
    margin-left: -30px; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }

.vertical_slider__head_text2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 455px;
  text-align: center; }

.cube1, .cube2, .cube3, .cube4 {
  position: absolute; }

.cube1 {
  top: 13px;
  right: -73px;
  width: 240px; }

.cube2 {
  bottom: 170px;
  left: 272px;
  width: 105px; }

.cube3 {
  top: 156px;
  left: 86px;
  width: 43px; }

.cube4 {
  bottom: 113px;
  right: 253px;
  width: 72px; }

/************* Slider page 3 *******************/
.posa {
  position: absolute; }

.dn {
  display: none; }

.d-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 32px; }
  .d-flex:last-child {
    margin-bottom: 0; }

.narush {
  width: 227px; }

.vertical_slider__head_text3 {
  top: 70px;
  left: 67px;
  font-size: 34px; }

.left_side {
  top: 173px;
  left: 26px; }
  .left_side .d-flex {
    margin-bottom: 55px; }
    .left_side .d-flex:last-child {
      margin-bottom: 0; }

.item__text {
  text-align: right; }

.slide_page3_num {
  font-size: 28px; }

.slide_page3_name {
  font-size: 20px; }

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  align-self: center;
  text-align: center;
  margin-left: 10px; }
  .icon img {
    width: 52px; }

.amilin {
  position: relative;
  top: -61px;
  left: 116px; }

/**************** Center ****************/
.beta {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: #731145;
  margin: 0 auto; }

.content_center {
  top: 98px;
  left: 339px;
  text-align: center; }
  .content_center_item:nth-child(2) {
    display: flex;
    margin-top: 130px; }
  .content_center_item:last-child > p {
    margin: 50px 0; }
  .content_center_item:last-child .d-flex {
    justify-content: center; }
  .content_center--left {
    width: 170px;
    text-align: right;
    margin-right: 28px; }
  .content_center--right {
    width: 186px;
    text-align: left; }

.glukagon {
  position: relative;
  top: 25px; }

/*********** Content right ****************/
.content_right {
  top: 196px;
  right: 34px; }
  .content_right .d-flex {
    justify-content: flex-start; }
    .content_right .d-flex .icon {
      margin-left: 0;
      margin-right: 10px; }

.insulin_resistance {
  border-radius: 15px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  padding: 15px 10px; }
  .insulin_resistance .insulin_text {
    text-align: center;
    margin-bottom: 25px; }
  .insulin_resistance .organ_lists .d-flex {
    justify-content: flex-start;
    margin-bottom: 15px; }
    .insulin_resistance .organ_lists .d-flex:last-child {
      margin-bottom: 0; }

.cube {
  position: absolute; }

.slide3_cube1 {
  top: 71px;
  left: 13px;
  width: 37px;
  opacity: 0.5; }

.slide3_cube2 {
  top: 112px;
  right: -29px;
  width: 127px;
  opacity: 0.5; }

.slide3_cube3 {
  left: 147px;
  bottom: -32px;
  width: 188px;
  opacity: 0.5;
  transform: rotate(90deg); }

.hr {
  position: absolute;
  background-color: #fff; }

.left_hr1 {
  width: 130px;
  left: 317px;
  top: 33px;
  transform: rotate(-14deg); }

.left_hr2 {
  width: 130px;
  left: 317px;
  top: 22px;
  transform: rotate(-14deg); }

.left_hr3 {
  width: 176px;
  left: 299px;
  top: 100px;
  transform: rotate(-38deg); }

.left_hr4 {
  width: 176px;
  left: 308px;
  top: 107px;
  transform: rotate(-38deg); }

.left_hr5 {
  width: 255px;
  transform: rotate(-47deg);
  top: 152px;
  left: 258px; }

.left_hr6 {
  width: 116px;
  transform: rotate(30deg);
  top: 304px;
  left: 308px; }

.left_hr7 {
  width: 97px;
  top: 346px;
  left: 321px; }

.left_hr8 {
  width: 14px;
  transform: rotate(90deg);
  top: 280px;
  left: 266px; }

.right_hr1 {
  width: 130px;
  right: 276px;
  top: 33px;
  transform: rotate(14deg); }

.right_hr2 {
  width: 130px;
  right: 274px;
  top: 22px;
  transform: rotate(14deg); }

.right_hr3 {
  width: 150px;
  right: 265px;
  top: 73px;
  transform: rotate(33deg); }

.right_hr4 {
  width: 150px;
  right: 273px;
  top: 83px;
  transform: rotate(33deg); }

.center_hr1 {
  width: 95px;
  top: 207px;
  left: 118px;
  transform: rotate(90deg); }

.center_hr2 {
  width: 95px;
  top: 207px;
  left: 154px;
  transform: rotate(90deg); }

.center_hr3 {
  width: 245px;
  top: 282px;
  left: 61px;
  transform: rotate(90deg); }

.center_hr4 {
  width: 36px;
  bottom: 103px;
  left: 163px;
  transform: rotate(90deg); }

.center_hr5 {
  width: 36px;
  bottom: 103px;
  left: 173px;
  transform: rotate(90deg); }

.center_hr6 {
  width: 20px;
  bottom: 216px;
  left: 189px;
  transform: rotate(90deg); }

.center_hr7 {
  width: 20px;
  bottom: 168px;
  left: 189px;
  transform: rotate(90deg); }

/***************/
.pagination {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0px, -50%); }

.pagination_dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  display: block;
  margin-bottom: 15px;
  cursor: pointer; }

a.active {
  background-color: orange; }

.next_slide {
  position: absolute;
  background-color: orange;
  bottom: 5px;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0px 69px 45px 119px orange;
  transform: translate(-50%); }
  .next_slide span {
    position: relative;
    top: -30px; }
  .next_slide .arrow {
    width: 25px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
    position: relative;
    top: -16px;
    left: 30px; }
    .next_slide .arrow::after {
      content: '';
      display: block;
      width: 25px;
      height: 1px;
      background-color: #fff;
      transform: rotate(90deg);
      position: relative;
      top: -13px;
      left: 12px; }
