@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
// @include media-breakpoint-up() {

// }

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
@media only screen and (max-device-width: 768px) {

}

@media only screen and (max-device-width: 576px) {
  h1 {
    font-size: 32px;
  }
  .header {
    max-width: 576px;
    height: 600px;
  }
  .container {
    padding: 0;
  }
  .menu_btn {
    display: block;
    top: 40px;
    right: 20px;
    z-index: 6;
  }
  .menu_btn::before,
  .menu_btn::after {
    display: block;
    content: '';
    
  }
  .menu_btn,
  .menu_btn::before,
  .menu_btn::after {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: rgb(7, 7, 7);
  }
  .menu_btn::before {
    top: -10px;
  }
  .menu_btn::after {
    top: 10px;
  }
  /***********************
  *** Menu btn effects ***
  ***********************/
  .menu_btn_new::before {
    content: '';
    opacity: 0;
  }
  .menu_btn_rotate {
    transform: rotate(45deg);
  }
  .menu_btn_rotate::after {
    content: '';
    transform: rotate(-90deg);
    top: 0;
  }
  /***************************/

  .menu {
    grid-template-rows: 15% 42% 42%;
    grid-template-columns: none;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    z-index: 5;
    position: absolute;
    top: 0;
    left: -600px;
    transition: margin-left 0.4s ease;
  }
  .menu__logo {
    grid-row-start: 1;
  }
  .menu__left_menu,
  .menu__right_menu {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
  }
  .menu_left_menu_item,
  .menu_right_menu_item {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #dedede;
  }
  .menu_right_menu_item:last-child {
    width: 133px;
    border-bottom: none;
  }
  .mainTitle {
    text-align: center;
    margin-top: 80px;
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
      width: 300px;
      margin: 0 auto;
    }
    p {
      width: 300px;

    }
    .mainTitle__videobtn {
      margin-top: 20px;
    }
  }
  
  .header_phone {
    display: none;
  }
  /**********************
  *** Features **********
  **********************/
  .features {
    height: 900px;
  }
  .features > .container {
    width: 80%;
    display: block;
    margin-top: 30px;
  }
  .features_grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  .feature__first, .feature__second {
    margin-top: 0;
  }
  /*******************************
  ******** Phone feature *********
  *******************************/
  .phone_feature {
    width: 100%;
    height: 900px;
  }
  .phone_feature > .container {
    width: 80%;
  }
  .phone_feature_right_info {
    width: 100%;
    p {
      width: 100%;
    }
  }
  .btn_accent,
  .btn_addition {
    display: block;
    width: 215px;
  }
  .btn_addition {
    margin-top: 10px;
  }
  .map_feature {
    width: 100%;
  }
  .map_feature > .container {
    width: 80%;
  }
  .map_feature_left_info {
    width: 100%;
    top: 50px;
    p {
      width: 100%;
    }
  }
  .partners_logo {
    grid-template-columns: none !important;
  }

  /******************************
  ******** Phone Screens ********
  ******************************/

  .phone_screens {
    height: 1360px;
    display: block;
  }
  .phone_screens__header_text {
    grid-gap: 0px;
  }
  .phone_screens__slider {
    width: 309px;
    height: 750px;
    background-size: 312px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .slidewrap {
    top: 75px;
    left: 25px;
    width: 263px !important;
  }
  .slide-img{
    width: 270px;

  }
  // .slide-img {
  //   width: 266px !important;
  //   height: 471px!important;
  //   margin-top: -3px;
  // }
  // .nav_btns {
  //   width: 260px;
  //   margin: 0 auto;
  //   margin-top: 10px;
  // }
  .phone_screens__header_text h2 {
    font-size: 32px;
  }
  .special_offer {
    margin-top: 50px;
    h2 {
      font-size: 22px;
      width: 100%;
    }
  }
  .header_text__small {
    font-size: 12px;
  }
  .special_offer form {
    width: 90%;
    margin: 0 auto;
  }
  .special_form_first_input {
    width: 175px !important;
  }
  .special_offer form input[type=text] {
    width: 130px;
  }
  .special_offer form button {
    padding: 5px 28px 5px 12px;
    background-position: 74px 9px;
    font-size: 12px;
  }
  /************************************
  ********** Feedback sliders *********
  ************************************/
  .feedback_sliderwrapper {
    overflow: hidden;
  }
  .feedback_content1 h2 {
    font-size: 26px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .feedback_content1 p {
    font-size: 16px;
    width: 255px;
    margin: 20px auto;
  }
  .feedback_stars {
    margin-bottom: 20px !important;
  }
  /************************************
  ********** Perfect Plans ************
  ************************************/
  .perfect_plans {
    display: block;
    height: auto;
  }
  .perfect_plans_text_wrapper {
    h2 {
      font-size: 22px;
    }
    .toggle_user {
      margin-bottom: 15px;
    }
    p {
      width: 250px;
      font-size: 16px;
    }
  }
  .perfect_plans .perfect_plans_wrapper {
    width: 90%;
    padding: 20px 0;
    margin-right: 0;
  }
  .perfect_plans_grid {
    display: block;
  }
  .perfect_plans_text {
    margin-bottom: 20px;
  }
  .perfect_plans_ways_grid {
    display: block;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .perfect_plan_premium, .perfect_plan_starter {
    width: 170px;
    height: 270px;
    display: block;
    text-align: center;
    padding-top: 10px;
    p {
      font-size: 12px;
      width: 110px;
      margin: 15px auto 0 auto;
    }
  }
  .plan_name {
    font-size: 21px;
    margin: 15px 0 0;
  }
  .plan_price {
    padding: 3px 12px;
    font-size: 12px;
  }
  .plan_lists {
    font-size: 12px;
    margin: 15px 0;
    height: auto;
    .plan_advantages {
      margin-bottom: 0;
    }
  }
  .plan_buy_now {
    margin-top: 15px;
    padding: 5px 20px;
    font-size: 13px;
  }
  .perfect_plan_active {
    height: 300px !important;
    padding-top: 15px;
  }
  /************************************
  ******** Footer *********************
  ************************************/
  .footer_wrapper {
    grid-template-rows: 75% 50%;
    grid-template-columns: none;
    grid-gap: 15px;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .footer_left {
    margin: 0 auto;
    grid-row-start: 2;
    text-align: center;
    > .appstore {
      margin: 0;
      > a {
        margin: 0 auto;
      }
    }
  }

  .footer_map {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
  }
  .socials {
    justify-content: center;
  }

}